################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagement/.vs/EmployeeManagement/v15/Server/sqlite3/storage.ide-wal
/EmployeeManagement/.vs/EmployeeManagement/v15/Server/sqlite3/storage.ide-shm
/EmployeeManagement/.vs/EmployeeManagement/v15/Server/sqlite3/storage.ide
/EmployeeManagement/.vs/EmployeeManagement/v15/Server/sqlite3/db.lock
