@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employee Details";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card card-header">
                <h1>@Model.Employee.Name</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/logo.png" asp-append-version="true"/>
                <h4>Employee ID: @Model.Employee.Id</h4>
                <h4>Employee ID: @Model.Employee.Department</h4>
                <h4>Employee ID: @Model.Employee.Email</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" asp-route-id="emp.id" class="btn btn-primary">Back</a>
            </div>
        </div>
     </div>
</div>
@section Scripts{ 
<script src="~/js/CustomScript.js"></script>
}
